<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl">
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>21ads</value>
                <value>2</value>
                <value>大撒阿达</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="222"/>
                <entry key="2" value="222"/>
                <entry key="3" value="222"/>
            </map>
        </property>
    </bean>

</beans>
